<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page" style="text-decoration: none; color: black;">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login" style="text-decoration: none; color: black;">My Account</a>
    </div>
</header>