/* imports */


/**
 This should be where a good portion of things can be change
 */
:root{

     --ff-headers: non;                         /* ff is for font family */
     --ff-paragraph: non;

     --font-size-h1: 35px;                      /* text or font sizes default */
     --font-size-p: 16px;                       /* https://www.learnui.design/blog/mobile-desktop-website-font-size-guidelines.html */

     --main-color: rgb(0, 120, 180);          /* colors */
     --second-color: non;

     --small-check-img: url("small_check.jpg");  /* images links */

     --wrapper-max-with: 1000px;
     --wrapper-background-color: white;

}

/*******   Change Box Model & Set Defaults 
 ******/
*,
*:before,
*:after {box-sizing: border-box;}
* h1 {font-size: var(--font-size-h1);}
* p  {font-size: var(--font-size-p);}
* li {font-size: var(--font-size-p);}
* button {font-size: var(--font-size-p);}


/****** header ******/

.siteName { font-size: 45px !important;}       /*   font-size: 45px   */
#tools {float: right;}
#tools {text-decoration: none;}
nav ul {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
}

/******* main *******/

/**
  This is the base css for the genral body
 */
 body {
  background-image: var(--small-check-img);
  min-width: 650px;
  }
 #wrapper {
  border: 5px solid var(--main-color);
  border-radius: 1.5%;
  width: 90%;
  justify-self: center;
  max-width: var(--wrapper-max-with);
  background-color: var(--wrapper-background-color);
  padding: 10px;
}

/**
 * THIS IS THE PICTURE OF THE CAR WITH THE THING NEXT TO IT
 */
 #carthing {                
  justify-self: center;
  width: 600px;

  display: grid;         /*grid*/
  grid-template-columns: 1fr 1fr 1fr;}
  #car {
    grid-column: 1/4;
    grid-row: 1/2;
    margin: 0 auto;}
  #words {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
  }

  #words {               /*style*/
    background-color: rgba(255,255,255,0.70);
    color: var(--main-color);

    margin: 30px;
    max-width: 140px;

    display: grid;
    grid-gap: -40px;
    }
  #words button {
    background-color: var(--main-color);
    color: white;
    margin: 10px;
    }
  #words p {
margin-top: -35px; }


/**
 * THIS IS THE UPGRADES AND REVIEWS SECTION
 */
 #section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;}    /* left is upgrades */                                    
  #left {                             /* right is reveiws */
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0 20px;}
  #right {
  grid-column: 2/3;
  }

  #right h1{margin-left: -20px;}
  #right li {padding: 15px;} 

  #upgrades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;}
  #upgrades div {text-align: center;}
  #upgrades h1 {grid-column: 1/3;}

  .upgradesImages {
    border: 1px solid black;
    background-color: var(--main-color);
    padding: 10px;
    width: 100%;
    height: 95px;
}


/******* footer ********/
footer {
  margin-top: 50px;
  margin-left: 20px;
}

@media only screen and (max-width: 700px) {
  #section1 {display: block;}
  #right {
    margin-left: 0px;
    text-align: left;
  }
}